*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.header{
    
    height: auto;
    justify-content: space-between;
    
    
}
.nav-item button{
    width: 100px;
    height: 30px;
    padding: 5px;
    color: rgb(48, 106, 254); 
    box-shadow: 1px 2px 15px 15px solid rgb(247, 239, 239);
    border: 1px solid rgb(247, 239, 239);
    background-color: white;
}

.quick-access{
	padding: 10px;
	background: #ffffff;
  
}
.logo h1{
	font-size:32px;
	font-weight: 700;
	color: #32276a;
}
.manu-list{
    padding-left: 260px;
}
.manu-list > ul > li{
    padding-left: 20px;
}
.str-btn{
    text-decoration: none;
    padding: 7px 20px;
    background: #5fcf80;
    color: #ffffff;
    border-radius: 50px;
}
.str-btn:hover{
    color: #ffffff;
}
.manu-list ul li{
    list-style: none;
}
.manu-list ul li a:hover{
	color: #5f72cf;
}
.manu-list ul li a{
    text-decoration: none;
    color: #37423b;
    font-weight: 600;
}

/* .flex-banner{
    background-color: rgb(48, 106, 254); 
} */
.ii{
    /* color:rgb(48, 106, 254) ; */
    font-size: 20px;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-color: #fff;
    color: rgb(36, 80, 238);
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    margin: 10px;
}

/* banner */
/* .flex-banner{
    margin-top: 15px;
} */
.flexbox{
    width: 100%;
    height: auto;
    display: flex;
    color: rgb(36, 80, 238);
    background-color: rgb(48, 106, 254); 
}
.txt h5 ,ul,p{
    color: #fff;
}
.flex-banner{
    color: rgb(48, 106, 254);
}
.txt h1{
    color: #fff;
    font-size: 44px;
    font-weight: 700;   
}
.txt h3{
    color: #fff;
    font-size: 28px;
    font-weight: 500;   
}
.banner-text ,.banner-img{
    width: 50%;
    height: auto;
    display: flex;
   
}
.banner-text{
    background-color: rgb(111, 165, 235);
    border-radius: 0 0 150px ;
    
    
}
.txt{
    justify-content: center;
    align-items: center;
    
   padding-top: 25%;
   padding-left: 25%;
    /* padding-left: 25%; */
}
.txt button{
    max-width: 150px;
    background-color: white;
    border-radius: 3px;
    border: 1px solid white;
    padding: 5px;
    color: rgb(48, 106, 254);
}
.txt ul li{
    display: inline-block;
}
.banner-img{
    background-color: rgb(48, 106, 254); 
}
.ban-img i{
    color: #fff;
    font-size: 24px;
    position: absolute;
    top: 600px;
}
.image{
    padding: 50px;
    position: relative;

    /* achive */
}
.achivements {
    margin-top: 50px;
}
.achivements h6{
    font-size: 20px;
    padding-top: 10px;

}
.follow {
    display:flex;
}
/* .hr{
    display: inline-block;
    padding-top: 10px;
    width: 10%;

} */


.achive-co1 p{
    color: rgb(53, 49, 85);
}
.follow i{
    display:inline-block;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(223, 223, 223);
    padding: 10px;
    margin: 5px;

    
    
}
.follow h5{
    padding-top: 10px;
}
.banner-img img {   
    width: 100%;
    height: auto;
    object-fit: cover;
  
}
 .acc{ 
    
    height: auto; 
    display: flex; 
    
 } 

.achive-co1{
    
    height: auto;

}
.achive-co{
  width: 33.3%;
    height: auto;
    display: flex;
}
.achive1,
.achive2,
.achive3{
    
    height: auto;
    
}

.ache{
    
    background-color: rgb(48, 106, 254);
    border-radius: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 5px;
    
    
}

.achivements h1,h6{
    color: white;
    text-align: center;
}
.ache2{
   /* padding-left: -15px;
   padding-right: -15px;
    width: 100%; */
    border-radius: 20px;
    padding-top: 25px;
    /* padding-bottom: 35px;   */
    background-color: rgb(114, 224, 255);
    padding-bottom: 25px;
    margin: 5px;
}
.ach{
   
    background-color: rgb(11, 2, 42);
    border-radius: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 5px;
  
}

/*about  */

.about{
    background-color: rgb(228, 245, 255);
    margin-top: 35px;
    padding-bottom: 50px;
    
}

.abot{
    
    height: auto;
    display: flex;
  
    
}

.abttxt{
   
    width: 100%;
    text-align: center;
    padding: 40px 0 40px 0;
}
.abttxt h5{
    color: rgb(118, 157, 255);
    font-size: 16px;
   

}
.abttxt h1{
    color: rgb(29, 35, 53);
    font-size: 34px;
    font-weight: 800;
    padding-bottom: 10px;
  

}
.abttxt p{
   
    color: rgb(53, 49, 85);
    font-size: 16px;

}
.abtm{
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 25px;
    justify-content: left;
    
}
.abtme h5{
    font-size: 14px;
}
.name1 ,.name2{
    width: 50%;
    height: auto;
    text-align: left;
}
.name2 h6{
    
    text-align: left;
}
.name1 h6{
    
    text-align: left;
}
.about-me{
    padding: 25px;
    background-color: #fff;
    border-radius: 0 10px 10px 0;
  
}
.about-me h2{
    color: rgb(47, 20, 72);
    font-size: 26px;
    font-weight: 900;
}
.about-me h6{
    color: rgb(53, 49, 85);
    font-size: 14px;
}
.aboutimg{
    
    height: auto;
    background-color: rgb(48, 106, 254);
    border-radius: 10px 0 0 10px;

}
.abtme .bb{
    background-color: rgb(48, 106, 254);
    border: 1px solid rgb(48, 106, 254); 
    color: #fff;
    margin-top: 35px;


}


.abtme button{
    background-color: rgb(48, 106, 254);
    border: 1px solid rgb(48, 106, 254); 
   
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(19, 34, 73);
    padding: 10px;
    border-radius: 5px;
    
}
.buttn button{
    color: #fff;
}
.abtme button:hover{
    background-color: rgb(48, 106, 254);
    border: 1px solid rgb(48, 106, 254); 
    color: #fff;

}

.aboutimg img{
    width: 100%;
    height: auto;
}
/* offer */
.offer{
    
    height: auto;
    display: flex;
    flex-wrap: wrap;

    padding-bottom: 40px;
}
.offer1{
   
    height: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
 
}
.offer11{
    background-color: #fff;
    box-shadow: 0px 0 5px 5px rgb(245, 245, 245);

   padding: 15px;
   height: 200px;
   border-radius: 5px;
   margin-bottom: 10px;
   
}
.offer1 h3{
    font-size: 18px;
    color: rgb(47, 20, 72);
    padding: 10px 0px;
    padding: 5px;

}
.offer1 h4{
    font-size: 12px;
    color: rgb(86, 82, 90);
    padding: 5px;
    /* line-height: 25px; */

}
.icon-abt{
    display: flex;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 5px;
    

}
.icon-abt i{
    align-items: center;
    font-size: 22px;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 10px;
    color: #fff;
    border-radius: 10px ;
    background-color:rgb(48, 106, 254) ;
}
/* resume */
.resume{
    background-color: rgb(236, 241, 243);
    padding-top: 40px;
    padding-bottom: 60px;

}
.exp{
    margin-top: 5px;
    margin-bottom: 30px; 
    padding: 20px;
    background-color:#fff;
    box-shadow: 1px 1px 2px 0px rgb(222, 232, 238);
    border-radius: 5px;

}
/* .flex-exp
{
    background-color:#fff;
} */
.resume button{
    background-color:rgb(48, 106, 254) ;
    border: 1px solid rgb(48, 106, 254) ;
    padding: 5px;
    margin-left: 5px; 
    color: #fff;
    border-radius: 5px;
}
.flex-icn{
    width: 100%;
    height: auto;
    display: flex;
}
.icn 
{
    width: 15%;
    height: auto;
    padding: 10px;
}
.res-txt{
    width: 60%;
    height: auto;
    padding: 10px;

}
.icn2 
{
    width: 15%;
    height: auto;

}
.icon2{
    padding: 10px ;
    opacity: 0.1;

}
.resume h1{
    font-size: 28px;
    padding: 15px 0;
}
.icon1{
    color:rgb(48, 106, 254) ;
    
}
.icn i{
    font-size: 28px;
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 100%;
    box-shadow: 0 5px 5px 0px rgb(255, 255, 255);
    text-align: center;
    
}
.resume-text h2{
    font-size: 16px; 

}
.rex-txt h5{
    font-size: 12px; 
    line-height: 25px;
    color: rgb(47, 20, 72);

}
.rex-txt{
    padding-top:20px ;
    
}
.resume-text h5{
    font-size: 12px; 
    color: rgb(47, 20, 72);

}
.icn2 i{
    font-size: 44px;
  
    /* padding: 10px; */
    
 
    text-align: center;
    
}

/* pricing table */
.pricing{
    margin: 25px;
    padding-bottom: 40px;
}


.price{
    /* margin-left: 28%; */
    width: 100px;
    height: 100px;
    border-radius: 100%;
    text-decoration: dotted;
    border: dotted  2px  blue;
    justify-content: center;
    align-items: center;
    display: flex;

}
.prices{
    
    height: auto;
    display: flex;
    
}
.flex-price1{
   
    height: auto;
   
 
}

.price1{
    
    box-shadow:  0px 0px 25px rgb(239, 234, 234);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
     margin: 10px;
}
.flex-pri{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}
.resume h1{
    color: rgb(47, 20, 72);
}
.price1 h2{
    font-size: 20px;
    text-align: center;
    color: rgb(47, 20, 72);
}
.price1 h5{
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    color: rgb(151, 150, 169);
}
.price1 button{
    background-color:rgb(48, 106, 254);
    border: 1px solid rgb(48, 106, 254);
    color: white;
    font-size: 12px;
    width: 100px;
    height: 40px;
    border-radius: 05px;

}

/* klatest work */
.my-work{
    background-color: rgb(238, 249, 248);
    margin-top: 25px;
    padding-bottom: 40px;

}

.work-img{

    
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.flex-work{
    
    height: auto;
    
}
.work1{
    margin: 10px;
}
.flex-work img{
    width: 100%;
    height: auto;
    margin-bottom: 10px;

}
.work1 h3{
    font-size: 18px;
    color: rgb(47, 20, 72);

}
.work1 h4{
    margin: 10px;

    font-size: 12px;
    color: rgb(80, 75, 85);

}

.btn a{
    
     display: inline-block; 
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgb(66, 61, 71);
    padding: 10px;
    
}
.btn a:hover{
    
   color: rgb(89, 91, 234);
   text-decoration: none;
   
}
/* team */
.iii{
    width: 5%;
    height: auto;
}
.iii img{
    width: 100%;
}
.des{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: flex-end;
}
.iiend{
    width: 5%;
    height: auto;
}
.iiend img
{
   
    width: 100%;
    height: auto;

}
.abtxt{
    display: flex;
    width: 100%;
    height: auto;
}

.team{
    margin: 25px;
    padding-bottom: 40px;

}
.team-img{
    
    height: auto;
}
.team-img1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    height: auto;
}
.team1{

    text-align: center;
  
    
}
.team1 h4{
    font-size: 16px;
    padding-top: 20px;
}
.team1 h3{
    font-size: 12px;
    padding-bottom: 20px;
}
.team-icon{
    
    width: 100%;
    height: 35px;
    border-radius: 25px;
    border: 1px solid rgb(228, 228, 228);
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
    display: flex;
}
.team1 img{
    width: 100%;
    height: auto;
    border-radius: 100%;
}
.team-icon i{
    font-size: 14px;
    color:rgb(112, 131, 134) ;
    padding: 5px;
 
    text-align: center;
}

/* test */
.testimonial{
    padding: 25px;
    background-color: rgb(44, 112, 247);
}
.ttt h5 ,h1,p{
    color: white;

}
.ttt{
    text-align: center;
    width: 95%;
    height: auto;
}
.testmonial{
    
    height: auto;
    display: flex;
    padding-top: 50px;
   
}
.flex-test{
    
    height: auto;
   
}
.flexbox-text{
    margin: 10px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
  
}
.flexbox-text h2{
    font-size: 12px;
    color: rgb(47, 20, 72);
  
}
.test-icon i{
    font-size: 20px;
    color:rgb(48, 106, 254) ;
   

}
.test-msg-i{
    padding-top: 15px;
}
.test-msg-i i{
    
    font-size: 12px;
    color:rgb(48, 106, 254) ;

}
.profile-test{
    width: 100%;
    height: auto;
    display: flex;
    padding-top: 15px;
}
.pro-icon{
    width: 20%;
    height: auto;
}
.pro-icon img{
    width: 75px;
    height: 75px;
    border-radius: 100%;
}
.pro-text{
    width: 90%;
    height: auto;
    padding:  10px  ;
}
.pro-text h3{
    font-size: 16px;    
}
/* blog */
.blog{
width: 100%;
height: auto;
margin-bottom: 40px;
} 
.blogs{
    display: inline-block;
    width: 100%;
}
.blogs img{
    width: 100%;
    z-index: -2;
    position: relative;

}
.blogbody{
    margin-top: -40px;
    width: 100%;
    z-index: 5;
    background-color: #ffffff;
}
.blogbdy h3{
    font-size: 12px;
    color: rgb(120, 147, 164);
}
.blogbdy h5{
    font-size: 16px;
    color: rgb(47, 32, 61);
}
.blogbdy{
    z-index: 3;
    border-radius: 5px;
    margin: 10px;
    background-color: #fff;
   
    padding: 20px;
    box-shadow: 0px 0 5px rgb(180, 175, 175) ;
}

/* form */
.form{
    background-color: rgb(44, 112, 247);
    padding-top: 30px;
    padding-bottom: 30px;
}
.flex-form{
    
    height: auto;
    display: flex;
}
/* .form-signin{
    width: 70%;
    
} */
/* .form-contact{
    width: 30%;
    
} */
.form-sign {
    margin: 10px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    height: 200px;
}
.form-sign h2{
    font-size: 16px;
    color: rgb(18, 12, 24);

}
.form-sign h3{
    font-size: 12px;
    color: rgb(47, 20, 72);

}
.form-sign input{
    width: 50%;
    height: 40px;
    border: 1px solid rgb(228, 228, 228);
    padding: 15px;

}
.frm{
    padding: 20px 0;
}
.form-sign button{
    width: auto;
    height: 40px;
    border: 1px solid  rgb(48, 106, 254);
    background-color: rgb(48, 106, 254);
    border-radius: 5px;
    color: #fff;
    
}
/* .client{
    width: 100%;
    height: auto;
    display: flex;
} */
.client1{
    
    height: auto;
}
.clint-img{
    margin: 10px;
}
.clint-img img{
    width: 100%;
    height: auto;
}
/* sponser */
.sponser{
    margin: 25px;
}
/* footer */
.foot{
    display: flex;
    justify-content: center;
    
}
.footer{
    background-color: rgb(21, 21, 41);
    padding: 50px;
}
.footer h1{
    color: white;
    font-size: 36px;
}
.footer-icon a{
    color: white;
    font-size: 16px;
}

.links h2{
    font-size: 18px;
    color: white;
    border-left: 3px solid rgb(44, 112, 247);
    padding: 0 10px;

}
.links h3 {
    font-size: 12px;
    color: rgb(93, 96, 123);
    
   padding: 5px;

}.links h3:hover{
    color: rgb(95, 180, 255);
    
}
.links a:hover{
    text-decoration: none;
    
}
